In [3]:
# Common imports
import numpy as np
import os
import tarfile
import urllib
import pandas as pd
import urllib.request

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [42]:
def load_data():
    path = 'data/StudentsPerformance.csv'
    return pd.read_csv(path)

data = load_data()
data.head()

# data["test preparation course"].unique()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Convert all features into numerical values so we can calculate R values

In [12]:
# Convert everything into numbers for calculating Pearson's R
def genderToNum(row):
    if (row["gender"] == "male"):
        return 0
    else:
        return 1

def raceToNum(row):
    if row["race/ethnicity"][-1] == "A":
        return 1
    elif row["race/ethnicity"][-1] == "B":
        return 0.75
    elif row["race/ethnicity"][-1] == "C":
        return 0.5
    elif row["race/ethnicity"][-1] == "D":
        return 0.25
    elif row["race/ethnicity"][-1] == "E":
        return 0

def eduToNum(row):
    if row["parental level of education"] == "some high school":
        return 0
    elif row["parental level of education"] == "high school":
        return 0.2
    elif row["parental level of education"] == "some college":
        return 0.4
    elif row["parental level of education"] == "associate's degree":
        return 0.6
    elif row["parental level of education"] == "bachelor's degree":
        return 0.8
    elif row["parental level of education"] == "master's degree":
        return 1

def lunchToNum(row):
    if row["lunch"] == "standard":
        return 0
    else:
        return 1

def prepToNum(row):
    if row["test preparation course"] == "none":
        return 0
    else:
        return 1
        
# def binIt(row):
#     print(row["math score"])
#     if (row["math score"] >= 70):
#         return "A"
#     elif (row["math score"] >= 60):
#         return "B"
#     elif (row["math score"] >= 50):
#         return "C"
#     elif (row["math score"] >= 40):
#         return "D"
#     else:
#         return "F"

data["gender"] = data.apply(genderToNum, axis=1)
data["race/ethnicity"] = data.apply(raceToNum, axis=1)
data["parental level of education"] = data.apply(eduToNum, axis=1)
data["lunch"] = data.apply(lunchToNum, axis=1)
data["test preparation course"] = data.apply(prepToNum, axis=1)


data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,0.75,0.8,0,0,72,72,74
1,1,0.50,0.4,0,1,69,90,88
2,1,0.75,1.0,0,0,90,95,93
3,0,1.00,0.6,1,0,47,57,44
4,0,0.50,0.4,0,0,76,78,75
...,...,...,...,...,...,...,...,...
995,1,0.00,1.0,0,1,88,99,95
996,0,0.50,0.2,1,0,62,55,55
997,1,0.50,0.2,1,1,59,71,65
998,1,0.25,0.4,0,1,68,78,77
999,1,0.25,0.4,1,0,77,86,86

Find and order the Pearson's R values for each feature against each math/reading/writing score

In [13]:
import math
import statistics

def printDict(list):
    for x in list:
        print("{}:  {}".format(x[0], x[1]))
    print("\n")

# Get the Pearson's R value between each feature and the different scores
mathlist = {}
for x in data.keys():
    if x == "math score":
        continue
    mathlist[x] = abs(np.corrcoef(data[x], data["math score"])[0][1])
mathlist = sorted(mathlist.items(), key=lambda x:x[1], reverse=True)
print("Features against Math scores")
printDict(mathlist)

readinglist = {}
for x in data.keys():
    if x == "reading score":
        continue
    readinglist[x] = abs(np.corrcoef(data[x], data["reading score"])[0][1])
readinglist = sorted(readinglist.items(), key=lambda x:x[1], reverse=True)
print("Features against Reading scores")
printDict(readinglist)

writinglist = {}
for x in data.keys():
    if x == "writing score":
        continue
    writinglist[x] = abs(np.corrcoef(data[x], data["writing score"])[0][1])
writinglist = sorted(writinglist.items(), key=lambda x:x[1], reverse=True)
print("Features against Writing scores")
printDict(writinglist)

Features against Math scores
reading score:  0.8175796636720544
writing score:  0.8026420459498085
lunch:  0.3508766455918607
race/ethnicity:  0.21641544829808895
test preparation course:  0.17770246930439465
gender:  0.1679822381003558
parental level of education:  0.15943181815735608


Features against Reading scores
writing score:  0.9545980771462478
math score:  0.8175796636720544
gender:  0.24431260787747192
test preparation course:  0.24178043354875134
lunch:  0.2295603216622811
parental level of education:  0.1909082647642037
race/ethnicity:  0.14525262214153506


Features against Writing scores
reading score:  0.9545980771462478
math score:  0.8026420459498085
test preparation course:  0.31294628448595596
gender:  0.3012249355007125
lunch:  0.2457686763842185
parental level of education:  0.23671517332205244
race/ethnicity:  0.16569051050724565

Univariate Selection for top features

In [14]:
# This was all essentially from the recommended webpage on feature selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

x = data.iloc[:,0:8]    # Select all columns for the selection process
x = x.drop(columns=["math score"])  # drop math score from the selection process as it is the target column
y = data.iloc[:,-3] # The target column is the math score

bestfeatures = SelectKBest(score_func=chi2, k=6)
fit = bestfeatures.fit(x,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(x.columns)
featureScores = pd.concat([dfcolumns,dfscores], axis=1)
featureScores.columns = ['features', 'score']
print(featureScores.nlargest(6,'score'))

                  features        score
6            writing score  2289.670475
5            reading score  2136.299236
3                    lunch   118.122326
4  test preparation course    56.923719
0                   gender    44.949761
1           race/ethnicity    20.140823

Notably, test preparation course is considered to have a stronger relationship to math score in the Univariate Selection than in the Pearson's R method

Assuming we are focussing on the maths score as the target attribute, we will create data sets of sizes 6, 4, and 2 of the features that correlate strongest with the maths score. The new data sets are written to separate csv files

This uses the correlation scores from Univariate Selection

In [15]:
import csv

# Top 2
# writing, reading
topTwo = data[["writing score", "reading score"]]
topTwo.to_csv('data/topTwoStudentPerf.csv', index=False)

# Top 4
# writing, reading, lunch, test prep
topFour = data[["writing score", "writing score", "lunch", "test preparation course"]]
topFour.to_csv('data/topFourStudentPerf.csv', index=False)

# Top 6
# writing, reading, lunch, test prep, gender, ethnicity
topSix = data[["writing score", "writing score", "lunch", "test preparation course", "gender", "race/ethnicity"]]
topSix.to_csv('data/topSixStudentPerf.csv', index=False)

Use test/train split to separate the data and use linear regression as the classifier

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

diffDataSets = [topTwo, topFour, topSix, data]
dataSetNames = ["topTwo", "topFour", "topSix", "original data set"]      # This is for easier output interpretation
target = data["math score"]
# d = data.drop(columns=["math score"])   # Remove the target column from the data

count = 0
for x in diffDataSets:
    x_train, x_test, y_train, y_test = train_test_split(x, target, random_state=0)  # split the data in to test and train

    lr = LinearRegression().fit(x_train, y_train)   # Create a linear regression classifier and fit the train data into the model
    y_predlr = lr.predict(x_test)   # predict the math score on the test data

    print("Test set predictions for {}:\n{}".format(dataSetNames[count], y_predlr)) # print out the predictions for the test data 

    print("Test set score: {:.2f}\n\n".format(lr.score(x_test, y_test))) # evaluate the accuracy  of your classifier 
    # the score function computes the success 
    count = count + 1

Test set predictions for topTwo:
[69.3173217  69.51001596 47.21659852 60.64406104 73.62176902 68.19293535
 67.61485258 43.49023397 80.52819454 36.35893119 48.95125065 67.13291503
 76.22374722 75.80617569 55.44010464 42.43021365 48.72637338 84.44725334
 53.51275825 74.74615537 61.89677562 56.91769649 73.2363805  57.78502256
 45.8673349  61.89677562 53.93032978 45.25706912 67.06854901 84.02968181
 80.75307181 80.62474357 87.08141455 59.74455196 55.6327989  76.06323597
 93.15269701 55.60061589 73.8788293  69.99195351 62.37871317 54.12302404
 68.3534466  74.29640083 78.40815389 58.26696011 84.67213061 60.64406104
 79.56472325 60.8367553  38.06140031 59.74455196 50.01127098 54.76547283
 41.9482761  70.85927958 53.51275825 60.61187803 71.69442263 62.34653016
 65.17338563 75.16372689 53.89814677 71.40517934 64.53093683 65.36607989
 68.61050688 53.0308207  67.13291503 50.87859704 68.44999563 79.17893092
 69.51001596 66.68316049 54.09084103 62.31434715 68.25730138 67.13291503
 31.79742359 74.93884962 74.71397236 83.61211029 69.06026142 80.36768329
 63.27822225 72.30468841 63.88848803 83.0018445  73.62176902 59.96942923
 72.52956568 62.82846771 62.7962847  55.21522737 71.88711689 69.92758749
 47.82686431 70.98760781 62.53922442 61.67189835 49.07957889 82.6804182
 61.25432682 46.47760069 70.21683078 76.03105296 69.28513869 61.89677562
 60.16212349 83.09798972 68.41781262 72.59393171 34.88133934 55.56843288
 69.06026142 72.11199416 77.73352208 74.42472906 77.54082782 59.5518577
 55.21522737 79.27547996 87.08141455 77.09107328 70.15246476 62.57140743
 70.15246476 74.07152356 65.62314017 61.47920409 62.37871317 63.27822225
 25.21202056 77.34813357 83.35505001 57.62451131 60.90112132 62.60359044
 69.70271022 77.99058236 70.60221929 66.29777198 49.59369945 56.88551348
 79.66086847 39.12142063 43.71511124 44.5502543  79.95011176 80.75307181
 47.34492675 70.60221929 92.51024822 66.29777198 76.41644148 75.32423814
 51.90643436 56.72500224 58.17041108 50.17178222 90.32584155 55.79331015
 53.57672046 86.63166001 61.57575313 77.05889027 76.06323597 63.21385623
 54.73328982 58.26696011 58.65234863 66.52264924 38.89654336 65.84801744
 79.98229478 67.29342628 64.94850836 52.83812644 92.02831067 70.85927958
 59.74455196 81.01013209 64.08118229 63.4387335  80.33550028 63.66361077
 90.35802456 93.15269701 74.29640083 42.20533638 48.66200736 58.00989983
 49.17612792 77.28376754 57.78502256 59.10210317 84.02968181 76.60913573
 68.03242411 64.98069137 72.94713721 75.61348143 54.3157183  88.59118941
 68.48217865 57.75283955 76.4808075  82.48772394 74.07152356 65.01287438
 55.82549316 84.70431362 60.80457229 61.76844739 36.80868573 72.33687143
 81.23500936 63.18167321 57.75283955 72.33687143 75.09936087 64.49875382
 56.08255344 72.81880898 62.34653016 73.8788293  83.83698756 56.50012497
 43.74729426 63.40655048 50.13959921 67.10073202 50.87859704 51.29616857
 57.97771682 65.3982629  69.3173217  60.1943065  66.04071169 62.37871317
 78.40815389 51.97080038 79.72523449 58.00989983 76.64131875 68.48217865
 59.32698043 88.36631214 63.27822225 82.93747848]
Test set score: 0.61


Test set predictions for topFour:
[68.62054443 67.12054443 47.62054443 60.87054443 74.87054443 66.87054443
 74.12054443 48.49554443 76.37054443 43.87054443 56.37054443 65.62054443
 74.87054443 78.12054443 53.62054443 44.62054443 55.62054443 81.12054443
 60.87054443 76.37054443 63.12054443 54.62054443 78.12054443 60.12054443
 45.37054443 58.37054443 60.12054443 50.12054443 60.87054443 81.87054443
 74.62054443 83.12054443 88.12054443 62.62054443 52.12054443 81.12054443
 93.62054443 54.62054443 75.62054443 75.62054443 67.12054443 53.87054443
 65.62054443 74.87054443 75.62054443 61.62054443 84.37054443 60.87054443
 84.12054443 59.37054443 43.12054443 57.87054443 50.87054443 58.62054443
 38.24554443 71.87054443 56.12054443 63.12054443 72.37054443 60.12054443
 63.37054443 75.62054443 50.62054443 69.37054443 65.62054443 59.12054443
 68.62054443 57.12054443 67.87054443 53.87054443 72.62054443 69.37054443
 71.87054443 66.12054443 51.62054443 62.62054443 74.12054443 70.37054443
 39.24554443 77.37054443 74.12054443 84.87054443 70.37054443 80.37054443
 67.87054443 72.62054443 63.37054443 84.87054443 67.62054443 58.37054443
 68.62054443 68.62054443 61.62054443 55.37054443 73.37054443 71.12054443
 47.74554443 65.62054443 58.37054443 62.62054443 47.74554443 74.62054443
 63.12054443 40.49554443 76.62054443 71.62054443 63.87054443 58.37054443
 61.87054443 76.37054443 67.87054443 75.62054443 40.62054443 49.99554443
 70.37054443 74.12054443 70.87054443 66.37054443 72.12054443 61.62054443
 55.37054443 76.37054443 85.62054443 78.12054443 64.62054443 58.37054443
 71.87054443 69.37054443 66.87054443 64.12054443 64.62054443 70.37054443
 22.74554443 81.12054443 79.37054443 59.37054443 66.12054443 60.87054443
 70.37054443 81.12054443 70.87054443 71.87054443 56.37054443 57.12054443
 73.37054443 37.49554443 44.62054443 42.87054443 76.37054443 79.37054443
 48.49554443 73.37054443 91.12054443 64.62054443 73.12054443 66.87054443
 48.37054443 60.87054443 57.12054443 51.62054443 90.37054443 55.62054443
 45.37054443 86.62054443 63.87054443 75.62054443 73.87054443 65.62054443
 56.37054443 64.12054443 60.87054443 65.37054443 36.74554443 63.12054443
 85.62054443 66.37054443 59.87054443 58.62054443 87.37054443 76.62054443
 60.12054443 78.12054443 59.12054443 66.37054443 73.12054443 67.12054443
 90.37054443 93.62054443 72.62054443 48.49554443 50.74554443 60.87054443
 49.87054443 76.62054443 55.37054443 57.87054443 77.12054443 71.62054443
 70.87054443 66.87054443 67.87054443 79.37054443 54.62054443 89.12054443
 67.62054443 53.12054443 80.37054443 81.12054443 74.12054443 64.62054443
 57.87054443 84.12054443 57.12054443 69.37054443 40.62054443 70.12054443
 81.12054443 63.12054443 53.12054443 74.87054443 68.62054443 65.62054443
 60.87054443 78.87054443 62.37054443 70.87054443 78.37054443 60.12054443
 44.49554443 59.37054443 44.62054443 63.37054443 49.12054443 55.62054443
 53.87054443 68.62054443 73.37054443 61.62054443 66.12054443 62.37054443
 73.12054443 57.87054443 80.37054443 60.87054443 74.12054443 74.87054443
 63.12054443 88.12054443 70.37054443 78.12054443]
Test set score: 0.63


Test set predictions for topSix:
[65.65362905 76.28955005 51.00048755 69.47616075 69.83420585 72.34423755
 68.88108085 50.63330005 85.56902145 45.73397325 46.81858085 60.10853265
 81.93798755 87.07861255 44.40540765 35.0646746  58.40762685 76.20139335
 50.85160946 82.13507866 54.58509515 48.39581655 72.81165765 64.15762685
 50.28866075 65.73486255 64.15762685 50.38418935 55.20920585 77.16233085
 71.61634515 92.48486255 84.42192196 53.63197015 44.20831655 90.92236255
 93.71612905 56.99267505 69.48264335 71.65362905 74.50741075 59.98486255
 70.01789116 69.38800405 74.29425405 52.22483085 81.34983085 55.20920585
 80.89581655 53.29514335 43.9184563  63.92325185 42.74045585 63.10205005
 40.339442   69.49737905 50.30987905 68.85205005 80.77214645 55.10675405
 72.35897325 71.19961475 43.15273975 76.53173755 69.57168935 65.39111255
 76.42928575 47.77170585 59.03822015 54.32257866 81.22616075 80.03084825
 80.26522325 57.11634515 58.82683395 68.75741075 83.14803575 78.35116075
 25.7131121  71.85853265 80.97705005 83.16144155 65.80117725 87.79825185
 75.02214645 67.81769155 72.35897325 80.13978265 63.38800405 52.32639335
 64.79514335 61.30384515 55.31165765 61.04043935 83.03777145 78.45361255
 51.45450185 60.10853265 65.73486255 67.04043935 34.09290765 87.60027145
 67.99356435 27.23442196 85.16455005 66.46790765 57.74045585 52.32639335
 54.38800405 85.56902145 61.61367725 70.34112905 31.12237905 55.18798755
 65.80117725 70.59805225 81.49089645 75.33642505 79.97882866 51.36634515
 49.34894155 75.25519155 81.95139335 86.22012685 73.81902145 51.88019155
 80.26522325 65.30987905 73.20272325 58.12930225 70.31991075 78.35116075
 20.7552831  91.78084825 74.27951835 55.01211475 72.24178575 68.17147325
 64.08420585 91.78084825 77.99178575 65.99826835 61.08553575 61.18017505
 70.55295585 38.97793935 33.34770321 44.83429741 73.08420585 90.71745895
 50.63330005 68.77081655 89.52862905 73.81902145 66.60764335 76.70183395
 54.13241075 52.56858085 47.77170585 52.75226616 89.88800405 45.85764335
 47.71320366 97.63330005 58.59894155 69.07817196 70.20920585 71.73486255
 61.94402145 70.67928575 52.56858085 61.37148975 25.46701835 56.77951835
 83.26389335 74.41277145 67.20272325 48.83509515 85.59023975 86.02303575
 62.85293935 77.17706655 63.67414116 72.69580005 70.10675405 74.50741075
 87.71701835 94.57461475 69.59983085 50.63330005 52.64981435 64.26007866
 53.87548755 70.89759515 60.18195366 65.64022325 73.18665765 77.24356435
 62.00785946 70.62726616 78.10897325 76.45050405 58.70964645 87.10764335
 76.79647325 45.62326835 76.55295585 78.37237905 68.42706655 72.10205005
 49.59894155 93.44580005 51.27081655 64.84023975 31.98086475 67.57550405
 75.34290765 69.71053575 59.03173755 69.83420585 76.48664116 73.45183395
 66.83553575 74.63108085 65.72793935 80.63241075 90.22616075 65.87459825
 47.15673755 53.29514335 35.0646746  57.23353265 52.92236255 44.99915765
 58.26789116 63.87930225 68.77081655 66.49178575 72.24178575 57.12326835
 69.24826835 47.88197015 75.24826835 65.97705005 66.71009515 71.55117725
 67.13507866 85.28040765 64.94269155 77.17479585]
Test set score: 0.85


Test set predictions for original data set:
[ 62.  87.  40.  77.  69.  78.  67.  46.  99.  46.  54.  53.  91.  84.
  48.  33.  57.  81.  50.  80.  63.  52.  73.  66.  55.  68.  65.  60.
  53.  69.  71.  93.  82.  48.  52.  92.  92.  69.  57.  69.  76.  62.
  71.  57.  71.  52.  77.  59.  77.  44.  47.  67.  44.  61.  39.  63.
  47.  69.  81.  56.  68.  74.  42.  69.  63.  59.  76.  47.  60.  61.
  81.  90.  80.  58.  64.  71.  73.  70.  29.  73.  79.  79.  64.  79.
  70.  77.  63.  94.  59.  43.  65.  54.  54.  73.  86.  70.  63.  52.
  61.  70.  32.  90.  67.  34.  83.  67.  63.  52.  45.  87.  63.  73.
  26.  54.  62.  67.  78.  79.  79.  54.  46.  67.  88.  82.  79.  40.
  74.  70.  77.  61.  68.  67.  30.  81.  77.  61.  67.  64.  62.  81.
  68.  60.  71.  68.  65.  41.  38.  48.  71.  97.  58.  69.  88.  70.
  64.  86.  53.  52.  53.  59.  81.  40.  53.  97.  65.  71.  67.  81.
  66.  68.  54.  57.  22.  56.  83.  68.  73.  50.  93.  88.  76.  77.
  72.  71.  67.  72.  96. 100.  62.  59.  58.  64.  50.  71.  58.  63.
  74.  84.  65.  62.  77.  74.  62.  91.  61.  35.  72.  74.  66.  72.
  51.  94.  50.  59.  32.  55.  61.  62.  55.  65.  75.  68.  72.  63.
  65.  78.  84.  69.  46.  62.  36.  53.  58.  42.  62.  62.  67.  77.
  71.  46.  66.  49.  67.  59.  65.  71.  63.  90.  55.  79.]
Test set score: 1.00