# Setup

In [48]:
import sys
assert sys.version_info >= (3, 5)
import sklearn
assert sklearn.__version__ >= "0.20"
import numpy as np
import os
import cv2
import pandas as pd

# To make this notebook's output stable across runs
np.random.seed(42)

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [49]:
# From last lab get the correlation coefficient
# Load exam data
EXAM_PATH = os.path.join("data/")
EXAM_URL = "../Nick/data/StudentsPerformance.csv"

def load_exam_data(exam_path=EXAM_PATH):
    csv_path = os.path.join(exam_path, "StudentsPerformance.csv")
    return pd.read_csv(csv_path)

exam_data = load_exam_data()

In [50]:
# Converting t
for item in exam_data["gender"]:

    print(item)
    if item == "female":
        
        exam_data["gender"].mask(exam_data["gender"] == "female", 0, inplace=True)
    elif item == "male":
        exam_data["gender"].mask(exam_data["gender"] == "male", 1, inplace=True)
    


exam_data["gender"]

female
0
0
male
1
0
0
1
1
0
1
1
0
1
0
0
1
0
1
0
1
0
1
0
1
1
1
0
1
0
0
0
0
1
1
1
0
0
0
1
1
0
0
1
0
1
0
0
0
1
1
1
1
1
0
0
0
1
1
0
1
1
1
0
0
1
1
0
1
0
0
1
0
1
1
1
1
1
0
0
0
1
1
1
1
0
0
0
0
0
0
1
1
1
0
1
1
0
0
0
1
1
0
1
1
0
0
1
0
0
0
1
1
0
0
1
0
0
0
0
0
1
0
1
1
0
1
1
1
0
1
1
1
0
1
1
1
1
0
1
0
0
0
1
1
0
1
1
0
1
1
1
0
1
1
0
0
1
0
1
1
0
1
1
0
0
1
0
0
0
1
1
0
0
0
0
0
0
0
0
1
0
0
0
1
1
1
1
1
0
0
1
0
1
0
1
1
1
0
0
0
0
1
0
1
1
1
1
0
0
1
1
0
1
1
1
0
0
1
1
0
1
0
1
0
0
0
1
1
0
1
1
0
1
1
1
1
0
1
1
1
0
0
1
1
1
1
0
0
1
1
0
0
1
1
0
0
1
0
0
0
1
0
0
1
1
0
0
0
0
1
1
0
0
1
1
0
0
0
1
1
1
0
0
0
1
1
0
1
1
1
1
1
0
1
1
1
1
1
1
1
1
0
1
0
1
1
1
0
0
0
1
1
0
0
1
0
1
1
0
0
0
0
0
0
0
1
1
1
0
1
1
1
1
0
0
1
1
0
0
1
0
0
1
1
0
1
0
1
1
0
1
0
0
0
0
1
0
1
0
0
1
0
0
1
1
1
1
0
0
1
0
1
0
0
1
0
0
0
1
0
1
1
0
0
0
0
0
0
1
1
0
1
1
0
1
0
0
1
1
0
1
0
0
0
0
1
0
0
1
0
1
1
1
0
1
1
1
1
1
0
0
0
0
1
0
1
1
1
1
1
0
1
0
1
1
1
1
1
1
0
0
0
0
1
0
1
1
1
1
0
0
0
1
0
1
0
1
0
1
1
1
0
0
1
0
0
1
0
1
0
0
0
0
0
0
1
1
0
1
1
0
1
1
0
1
1
0
1
1
0
0
0
0
0
1
0
0
0
1
0
0
1
0
0
0
1
1
1
0
1
1
1
0
0
0
0
0
0
0
1
0
1
1
1
1
1
0
0
0
0
0
1
0
1
0
1
0
1
1
1
1
0
0
0
1
0
1
0
1
1
1
0
1
1
0
0
1
0
1
0
0
1
0
1
1
0
0
1
1
1
1
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
0
0
0
1
1
0
0
0
0
0
1
1
1
0
0
0
0
1
0
1
0
0
0
0
1
1
1
0
1
1
1
0
1
1
1
1
0
1
1
0
0
1
1
0
0
1
0
1
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
1
1
0
1
1
1
0
0
1
0
0
0
1
1
0
1
0
0
0
0
0
0
1
1
0
1
1
0
1
0
1
1
1
1
0
0
0
0
0
0
0
0
0
1
0
0
1
0
0
1
1
1
1
0
1
0
0
1
0
0
1
0
0
1
0
1
0
1
1
1
0
1
0
1
0
1
0
1
0
1
1
0
1
1
1
0
0
0
1
1
1
1
0
1
1
1
1
0
1
0
1
1
0
1
0
0
1
0
1
0
0
1
0
1
1
1
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
1
0
0
0
1
1
0
0
1
0
1
0
1
1
0
0
0
1
0
0
1
1
1
1
0
1
0
1
0
1
0
0
0
0
1
0
0
1
0
0
0
1
0
0
1
0
1
0
1
0
1
0
0
1
0
1
0
1
1
1
0
1
1
0
0
1
1
0
1
0
1
1
0
0
1
0
1
1
1
1
1
1
1
0
1
1
0
1
1
1
0
0
1
0
0
1
0
0
0
1
0
1
0
0
0
1
0
0
1
0
1
0
1
0
0
0
0
1
1
0
0
1
1
0
0
0
0
0
1
0
0
1
1
0
1
0
1
1
1
0
1
0
1
1
1
1
1
1
1
0
1
1
1
0
1
1
0
0
1
0
1
0
1
0
0
1
0
1
1
0
0
1
0
0
0
0
1
0
1
1
0
0
0
1
0
0
0
0
1
1
1
0
0
1
1
0
0
1
0
1
0
0
1
0
0
0
1
0
1
0
0
0

0      0
1      0
2      0
3      1
4      1
      ..
995    0
996    1
997    0
998    0
999    0
Name: gender, Length: 1000, dtype: object

In [51]:

# for item in exam_data["race/ethnicity"]:
for item in exam_data["race/ethnicity"]:
    if item == "group A":
        exam_data["race/ethnicity"].mask(exam_data["race/ethnicity"] == "group A", 0, inplace=True)
    elif item == "group B":
        exam_data["race/ethnicity"].mask(exam_data["race/ethnicity"] == "group B", 0.25, inplace=True)
    elif item == "group C":
        exam_data["race/ethnicity"].mask(exam_data["race/ethnicity"] == "group C", 0.5, inplace=True)
    elif item == "group D":
        exam_data["race/ethnicity"].mask(exam_data["race/ethnicity"] == "group D", 0.75, inplace=True)
    elif item == "group E":
        exam_data["race/ethnicity"].mask(exam_data["race/ethnicity"] == "group E", 1, inplace=True)

exam_data["race/ethnicity"]

0      0.25
1       0.5
2      0.25
3         0
4       0.5
       ...
995       1
996     0.5
997     0.5
998    0.75
999    0.75
Name: race/ethnicity, Length: 1000, dtype: object

In [52]:
for item in exam_data["parental level of education"]:
    if item == "bachelor's degree":
        exam_data["parental level of education"].mask(exam_data["parental level of education"] == "bachelor's degree", 0, inplace=True)
    elif item == "some college":
        exam_data["parental level of education"].mask(exam_data["parental level of education"] == "some college", 0.25, inplace=True)
    elif item == "master's degree":
        exam_data["parental level of education"].mask(exam_data["parental level of education"] == "master's degree", 0.50, inplace=True)
    elif item == "associate's degree":
        exam_data["parental level of education"].mask(exam_data["parental level of education"] == "associate's degree", 0.75, inplace=True)
    elif item == "high school":
        exam_data["parental level of education"].mask(exam_data["parental level of education"] == "high school", 1, inplace=True)
    elif item == "some high school":
        exam_data["parental level of education"].mask(exam_data["parental level of education"] == "some high school", 1, inplace=True)



exam_data["parental level of education"]

0         0
1      0.25
2       0.5
3      0.75
4      0.25
       ...
995     0.5
996       1
997       1
998    0.25
999    0.25
Name: parental level of education, Length: 1000, dtype: object

In [53]:
for item in exam_data["lunch"]:
    if item == "standard":
        exam_data["lunch"].mask(exam_data["lunch"] == "standard", 0, inplace=True)
    elif item == "free/reduced":
        exam_data["lunch"].mask(exam_data["lunch"] == "free/reduced", 1, inplace=True)


exam_data["lunch"]

0      0
1      0
2      0
3      1
4      0
      ..
995    0
996    1
997    1
998    0
999    1
Name: lunch, Length: 1000, dtype: object

In [54]:
for item in exam_data["test preparation course"]:
    if item == "none":
        exam_data["test preparation course"].mask(exam_data["test preparation course"] == "none", 0, inplace=True)
    elif item == "completed":
        exam_data["test preparation course"].mask(exam_data["test preparation course"] == "completed", 1, inplace=True)



exam_data["test preparation course"]

0      0
1      1
2      0
3      0
4      0
      ..
995    1
996    0
997    1
998    1
999    0
Name: test preparation course, Length: 1000, dtype: object

In [55]:
# Changed data
exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,0.25,0,0,0,72,72,74
1,0,0.5,0.25,0,1,69,90,88
2,0,0.25,0.5,0,0,90,95,93
3,1,0,0.75,1,0,47,57,44
4,1,0.5,0.25,0,0,76,78,75
...,...,...,...,...,...,...,...,...
995,0,1,0.5,0,1,88,99,95
996,1,0.5,1,1,0,62,55,55
997,0,0.5,1,1,1,59,71,65
998,0,0.75,0.25,0,1,68,78,77
999,0,0.75,0.25,1,0,77,86,86

In [56]:
# Computiing correlatioon coefficients
print(exam_data)
# exam_corr = exam_data.corr()

# print(exam_corr)

    gender race/ethnicity parental level of education lunch  \
0        0           0.25                           0     0
1        0            0.5                        0.25     0
2        0           0.25                         0.5     0
3        1              0                        0.75     1
4        1            0.5                        0.25     0
..     ...            ...                         ...   ...
995      0              1                         0.5     0
996      1            0.5                           1     1
997      0            0.5                           1     1
998      0           0.75                        0.25     0
999      0           0.75                        0.25     1

    test preparation course  math score  reading score  writing score
0                         0          72             72             74
1                         1          69             90             88
2                         0          90             95             93
3                         0          47             57             44
4                         0          76             78             75
..                      ...         ...            ...            ...
995                       1          88             99             95
996                       0          62             55             55
997                       1          59             71             65
998                       1          68             78             77
999                       0          77             86             86

[1000 rows x 8 columns]

In [62]:
print(exam_data.dtypes)

# dict = {"gender": int,
#         "race/ethnicity": int,
#         "parental level of education": int,
#         "lunch": int,
#         "test preparation course": int}

# exam_data.astype(dict)

exam_data["gender"] = exam_data["gender"].astype("int")


print(exam_data.dtypes)

exam_corr = exam_data.corr(method="pearson")

exam_corr

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

C:\Users\nickm\AppData\Local\Temp\ipykernel_11580\1565228775.py:16: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  exam_corr = exam_data.corr(method="pearson")

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

In [58]:
# Maths score correlation coefficient (Pearson's R)
# features against maths scores 
exam_corr["math score"].sort_values(ascending=False)
print(exam_corr)

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

In [59]:
# scores against reading score
exam_corr["reading score"].sort_values(ascending=False)

reading score    1.000000
writing score    0.954598
math score       0.817580
Name: reading score, dtype: float64

In [60]:
# scores against writing score
exam_corr["writing score"].sort_values(ascending=False)

writing score    1.000000
reading score    0.954598
math score       0.802642
Name: writing score, dtype: float64

In [61]:
from sklearn.linear_model import linearRegression
l_reg = linearRegression() # use this to train

ImportError: cannot import name 'linearRegression' from 'sklearn.linear_model' (c:\Users\nickm\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\__init__.py)

In [ ]:
X = mnist["data"]
y = mnist["target"]
X.shape

In [ ]:
y.shape

In [ ]:
X = mnist["data"]
# First 5 rows of data
print(mnist["data"][:5])

In [ ]:
some_digit = X[0]
some_digit_image = some_digit.reshaoe(28,28)
plt.imshow(some_digit, cmap=mpl.cm.binary)
plt.show()

In [ ]:
y[0]

In [ ]:
y = y.astype(np.uint8)

In [ ]:
y[0]

In [ ]:
def plot_digit(data):
    image = data.reshape(28, 28)
    plt.show(image, cmap = mpl.cm.binary, interpolation="nearest")
    plt.axis("off")

In [ ]:
def plot_digits(instances, images_per_row=10, **options):
    size= 28
    images_per_row = min(len(instances), images_per_row)
    images = [instance.reshape(size, size) for instance in instances]
    n_rows = (len(instances) - 1) // images_per_row + 1
    row_images = []
    n_empty = n_rows * images_per_row - len(instances)
    images.append(np.zeros((size, size * n_empty)))

    for row in range(n_rows):
        rimages = images[row * images_per_row : (row + 1) * images_per_row]
        row_images.append(np.concatenate(rimages, axis=1))

    image = np.concatenate(row_images, axis=0)
    plt.imshow(image, cmap = mpl.cm.binary, **options)
    plt.axis("off")

In [ ]:
plt.figure(figsize=(9,9))
example_images = X[:100]
plot_digits(example_images, images_per_row=10)
plt.show()